body {
  font-family: 'Josefin Sans', sans-serif;
  cursor: default;
  overflow-x: hidden;
}
html,body{
    overflow-x: hidden;
}
.customToaster {
  z-index: 99999999999;
}

.logo_wrapper img {
  height: 60px;
}

.Toastify__toast-container {
  z-index: 99999999999;
  /* height: '15px'; */
  /* line-height: ''; */
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 62.25%;
  /* 16:9 Aspect Ratio */
  /* 134.25% */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  border: none;
}

/* .toast-success {
    background-color: #ffffff;
    color: #091921;
    border-left: 4px solid #10b981;
  }
  .toast-error {
    background-color: #ffffff;
    color: #091921;
    border-left: 4px solid #ff4f33;
  }
  .toast-warning {
    background-color: #ffffff;
    color: #091921;
    border-left: 4px solid #fbbf24;
  }
  .toast-info {
    background-color: #ffffff;
    color: #091921;
    border-left: 4px solid #0072b0;
  } */

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 62.25%;
  /* 16:9 Aspect Ratio */
  /* 134.25% */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  border: none;
}

input#search::placeholder {
  color: #767676;
  font-size: 12px;
}

input[type='search']::-webkit-search-cancel-button {
  transition-property: all;
  transition-delay: 0.3s;
  cursor: pointer;
  -webkit-appearance: none;
  content: url('/images/icons/close.svg');
}

.appointment-form input::placeholder {
  color: #bbbbbb;
}

#prof_dob {
  background-image: url('/images/icons/calender-icon.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 3.7% center;
}

/* input[type='date']::-webkit-calendar-picker-indicator {
  position: relative;
  left: -102%;
  background-image: url('/images/icons/calender-icon.svg');
  background-size: 15px;
  background-position: left center;
  z-index: 1;
} */

input[type='date']::-webkit-calendar-picker-indicator {
  -moz-appearance: none;
  -webkit-appearance: none;
  left: 0px;
  width: 100%;
  padding: 0px;
  padding: unset;
  background: unset;
  position: absolute;
}

.custom_date_picker {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 3px;
  width: 100%;
  font-size: 14px;
}

#delivery_date {
  background-image: url('/images/icons/calender-icon.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #606060 !important;
  opacity: 0.7;
  color: #fff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[name='quantity']::-webkit-outer-spin-button,
input[name='quantity']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[name='quantity'] {
  -moz-appearance: textfield;
}

input[name='brand_search']::placeholder {
  color: #c9c9c9;
}

select[name='frequency'] {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  background: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.filter-checks {
  cursor: pointer;
  width: 0.9rem;
  height: 0.9rem;
}

.filter-checks:hover {
  background-color: transparent;
}

.filter-checks:checked:hover {
  background-color: rgb(70, 68, 68);
}

.filter-checks:checked {
  color: #000;
  background-color: rgb(0, 0, 0);
}

#email::placeholder {
  font-size: 12px;
}

#notify_email::placeholder {
  font-size: 13px;
}

#password::placeholder,
#new_password::placeholder,
#confirm_password::placeholder {
  font-size: 12px;
}

#verification_code::placeholder,
#verifycode::placeholder {
  font-size: 12px;
}

#firstname::placeholder,
#lastname::placeholder,
#phone::placeholder {
  font-size: 12px;
}

input[name='coupon_code']::placeholder {
  color: rgba(94, 94, 94, 0.5);
  font-size: 14px;
}

.address-box {
  width: 300px;
}

.address-labels input[type='radio']:checked ~ .mask {
  background-color: rgba(94, 94, 94, 0.05);
}

.profile.address-box {
  width: 100%;
}

.profile .address-labels .check-icon {
  background: none;
  color: transparent;
  border: 1px solid #9c9c9c;
}

.profile .address-labels input[type='radio']:checked ~ div .check-icon {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.pay-opt input[type='radio']:checked ~ div {
  background-color: #ebebeb;
}

.PhoneInputInput {
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 4px;
}

.PhoneInputInput:disabled {
  cursor: not-allowed;
  background-color: #f7f7f7;
}

.PhoneInput.PhoneInput--focus {
  border-color: #adadad;
}

.PhoneInputCountry {
  padding-left: 10px;
}

select.PhoneInputCountrySelect {
  background-position: 10% center;
  outline: 0;
  border: none;
}

select.PhoneInputCountrySelect:focus {
  outline: 0;
  border: none;
}

/* scroll style start */

.thin-scroll::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.cursor-zoomin {
  cursor: zoom-in;
}

.custom-scroll-H:hover {
  margin-bottom: -4px;
}

.custom-scroll-H::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

.custom-scroll-H:hover::-webkit-scrollbar {
  display: block;
}

.custom-scroll-H::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.custom-scroll-V {
  padding-right: 4px;
}

.custom-scroll-V:hover {
  padding-right: 0px;
}

.custom-scroll-V::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

.custom-scroll-V:hover::-webkit-scrollbar {
  display: block;
}

.custom-scroll-V::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* scroll style end */

/* Confirm Check animation start */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #000000;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #000000;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #000000;
  }
}

/* Confirm Check animation End */

.custom-radio-1 {
  background-size: 65% !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-arrow {
  width: auto;
}

.slick-disabled {
  opacity: 0.4;
  cursor: default;
}

.header-nav.nav-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background: rgb(0, 0, 0);
  z-index: 99999;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 40%);
  height: 45px;
}

.header-nav.nav-fixed > ul > li > a {
  color: #fff;
}

.header-nav > ul > li > a > img {
  height: 40px;
}

.header-nav.nav-fixed > ul > li > a.active {
  border-color: #fff;
}

.header-nav.nav-fixed > ul > li > a:hover {
  color: #ccc;
}

.header-nav.nav-fixed > ul {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-slider .slides {
  padding: 16px 10px;
  transition: all 300ms ease;
}

.main-slider .slick-current .slides {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.main-slider .slick-current .slides img,
.main-slider .slick-current .slides video {
  box-shadow: 0px 8px 9px 0 rgba(0, 0, 0, 0.2);
}

.main-slider .slick-dots {
  top: -20px;
}

.main-slider .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0px 2.5px;
}

.main-slider .slick-dots li button {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}

.main-slider .slick-dots li button:before {
  width: 7px;
  height: 7px;
  background: #000000;
  content: ' ';
  opacity: 1;
  position: relative;
  border-radius: 50%;
}

.main-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #DB211D;
}

.flipImage {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main-slider .slick-slide .slick-active .slick-center .slick-current{
  width: 90px;
  height: 90px;
}

.main-slider-d .slick-dots {
  bottom: 20px;
}

.main-slider-d .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0px 2.5px;
}

.main-slider-d .slick-dots li button {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.main-slider-d .slick-dots li button:before {
  width: 7px;
  height: 7px;
  background: #ffffff;
  content: ' ';
  opacity: 0.4;
  position: relative;
  border-radius: 50%;
}

.main-slider-d .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #ffffff;
}

.new-arrivals-d .slick-slide > div,
.best-seller-d .slick-slide > div {
  margin: 0px 10px;
}

.new-arrivals-d .slick-list,
.best-seller-d .slick-list {
  margin: 0px -10px;
}

.brand-slider .slick-dots {
  bottom: 0px;
  height: 120px;
  display: flex;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.brand-slider .slick-dots ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-slider .slick-dots li {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px 10px;
}

.brand-slider .slick-dots li.slick-active {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  filter: invert(100%);
}

.brand-slider .slick-prev,
.brand-slider .slick-next {
  top: unset;
  bottom: 0px;
  height: 120px;
  transform: unset;
  z-index: 10;
  display: flex !important;
}

.brand-slider .slick-prev {
  left: 15px;
  color: #fff;
}

.brand-slider .slick-next {
  right: 15px;
  color: #fff;
}

.brand-slider .slick-dots li {
  display: none;
}

.brand-slider .slick-dots li.slick-active,
.brand-slider .slick-dots li.slick-active + li,
.brand-slider .slick-dots li.slick-active + li + li {
  display: block;
}

.brand-slider .slick-dots li:nth-last-child(1),
.brand-slider .slick-dots li:nth-last-child(2),
.brand-slider .slick-dots li:nth-last-child(3) {
  display: block;
}

.brand-slider .slick-dots li.slick-active ~ li:nth-last-child(1),
.brand-slider .slick-dots li.slick-active ~ li:nth-last-child(2),
.brand-slider .slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}

.brand-slider .slick-dots li.slick-active + li + li:nth-last-child(3),
.brand-slider .slick-dots li.slick-active + li + li:nth-last-child(2),
.brand-slider .slick-dots li.slick-active + li + li:nth-last-child(1),
.brand-slider .slick-dots li.slick-active + li:nth-last-child(3),
.brand-slider .slick-dots li.slick-active + li:nth-last-child(2),
.brand-slider .slick-dots li.slick-active + li:nth-last-child(1) {
  display: block;
}

.brands-thumbs {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.brands-thumbs ul li a.active img {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  filter: invert(100%);
}

.brand-slider-d > .slick-list,
.brand-slider-d > .slick-list > .slick-track,
.brand-slider-d > .slick-list > .slick-track > .slick-slide,
.brand-slider-d > .slick-list > .slick-track > .slick-slide > div {
  height: 100%;
}

.brand-slider-d .slick-dots li a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.brand-slider-d .slick-dots li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand-slider-d .slick-dots {
  bottom: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-slider-d .slick-dots ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-slider-d .slick-dots li.slick-active {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  filter: invert(100%);
}

.brand-slider-d > .slick-prev,
.brand-slider-d > .slick-next {
  top: unset;
  bottom: 0px;
  height: 100px;
  transform: unset;
  z-index: 10;
  display: flex !important;
}

.brand-slider-d > .slick-prev {
  left: 30%;
  color: #fff;
}

.brand-slider-d > .slick-next {
  right: 30%;
  color: #fff;
}

.brand-slider-d .slick-dots li {
  display: none;
  width: 75px;
  height: 75px;
  margin: 0px 15px;
}

.brand-slider-d .slick-dots li.slick-active,
.brand-slider-d .slick-dots li.slick-active + li,
.brand-slider-d .slick-dots li.slick-active + li + li,
.brand-slider-d .slick-dots li.slick-active + li + li + li {
  display: block;
}

.brand-slider-d .slick-dots li:nth-last-child(2),
.brand-slider-d .slick-dots li:nth-last-child(3),
.brand-slider-d .slick-dots li:nth-last-child(4) {
  display: block;
}

.brand-slider-d .slick-dots li.slick-active ~ li:nth-last-child(5) {
  display: none;
}

.brand-slider-d .slick-dots li.slick-active + li + li:nth-last-child(4),
.brand-slider-d .slick-dots li.slick-active + li + li:nth-last-child(3),
.brand-slider-d .slick-dots li.slick-active + li + li:nth-last-child(2),
.brand-slider-d .slick-dots li.slick-active + li + li:nth-last-child(1),
.brand-slider-d .slick-dots li.slick-active + li:nth-last-child(4),
.brand-slider-d .slick-dots li.slick-active + li:nth-last-child(3),
.brand-slider-d .slick-dots li.slick-active + li:nth-last-child(2),
.brand-slider-d .slick-dots li.slick-active + li:nth-last-child(1) {
  display: block;
}

.brand-slider-d .slick-dots {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.brand-inner-slider-d .slick-next {
  right: -35px;
}

.brand-inner-slider-d .slick-prev {
  left: -35px;
}

.brand-inner-slider-d .slick-next,
.brand-inner-slider-d .slick-prev {
  width: auto;
  height: auto;
  padding: 5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.brand-inner-slider-d .slick-next:hover,
.brand-inner-slider-d .slick-prev:hover {
  background-color: #000;
}

.cs-border::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(to bottom, #ffe1d1, #ffeca2);
}

.brand-offers-slider .slick-slide > div {
  margin: 0px 20px;
}

.cs-devide-1 {
  height: 1px;
  background-image: linear-gradient(to right, #ffce87, #32a6ff);
}

.cate-container {
  --tw-bg-opacity: 0.6;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-effect-1:hover > img {
  transform: scale(1.2);
}

.hover-effect-2:hover {
  transform: scale(1.2);
}

.hover-effect-3:hover {
  filter: sepia(100%);
}

.shade-lbls input:checked {
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.12) !important;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7069 0.293031C13.8944 0.480558 13.9997 0.734866 13.9997 1.00003C13.9997 1.26519 13.8944 1.5195 13.7069 1.70703L5.70692 9.70703C5.51939 9.8945 5.26508 9.99982 4.99992 9.99982C4.73475 9.99982 4.48045 9.8945 4.29292 9.70703L0.292919 5.70703C0.110761 5.51843 0.00996641 5.26583 0.0122448 5.00363C0.0145233 4.74143 0.119692 4.49062 0.3051 4.30521C0.490508 4.1198 0.741321 4.01464 1.00352 4.01236C1.26571 4.01008 1.51832 4.11087 1.70692 4.29303L4.99992 7.58603L12.2929 0.293031C12.4804 0.10556 12.7348 0.000244141 12.9999 0.000244141C13.2651 0.000244141 13.5194 0.10556 13.7069 0.293031Z' fill='white' /%3E%3C/svg%3E");
}

.shade-lbls input:checked ~ p {
  font-weight: 500;
}

.shade-footer {
  box-shadow: 0 -4px 9px 0 rgba(0, 0, 0, 0.08);
}

.ec-images {
  max-height: 160px;
}

.pro-slider .slick-dots li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  margin: 0px 2px;
}

.pro-slider .slick-dots li button {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-slider .slick-dots li button:before {
  width: 6px;
  height: 6px;
  content: '';
  background: #e0e0e0;
  border-radius: 50%;
  left: unset;
  top: unset;
  opacity: 1;
}

.pro-slider .slick-dots li.slick-active button:before {
  background: #000000;
}

.gal-slider .slick-arrow {
  width: 35px;
  height: 35px;
}

.gal-slider .slick-prev {
  left: 0px;
}

.gal-slider .slick-next {
  right: 0px;
}

.cs-gal-thumbs .slick-track .slick-slide {
  text-align: center;
}

.cs-gal-thumbs .slick-list {
  margin: 0px -8px;
}

.cs-gal-thumbs .slick-track .slick-slide > div {
  margin: 0px 8px;
}

.cs-gal-thumbs .slick-track .slick-slide.slick-active > div > div {
  border-bottom-color: #000 !important;
}

.cs-gal-thumbs-d .slick-track .slick-slide.slick-current > div > div {
  border-left-color: #000 !important;
}

.cs-gal-thumbs-d .slick-arrow {
  position: relative;
  left: unset;
  right: unset;
  width: 25px;
  height: 25px;
  top: 0;
  transform: none;
  margin: 0 auto;
}

.cs-gal-thumbs-d .slick-prev {
  margin-bottom: 5px;
}

.gal-slider-wrap {
  width: calc(100% - 70px);
}

.gal-slider-wrap .gal-slider .slick-list,
.gal-slider-wrap .gal-slider .slick-list .slick-track,
.gal-slider-wrap .gal-slider .slick-list .slick-track .slick-slide > div,
.gal-slider-wrap .gal-slider .slick-list .slick-track .slick-slide > div > div {
  height: 100%;
}

.pro-brand-slider .slick-list {
  margin: 0px -5px;
}

.pro-brand-slider .slick-list::after {
  content: '';
  position: absolute;
  z-index: 99;
  right: 0px;
  width: 300px;
  top: 0px;
  height: 100%;
  background-image: linear-gradient(89deg, rgba(255, 255, 255, 0) 25%, #f2f2f2 98%);
}

.pro-brand-slider .slick-list:hover::after {
  z-index: -1;
}

.pro-brand-slider .slick-slide > div {
  margin: 0px 5px;
}

.pro-similar-slider .slick-list {
  margin: 0px -10px;
}

.pro-similar-slider .slick-slide > div {
  margin: 0px 10px;
}

.pro-brand-slider .slick-next {
  right: 0px;
}

.list-desc li::before {
  content: '-';
  margin-right: 12px;
}

.pro-card:hover {
  border-color: #000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.pro-card:hover .notify-button,
.pro-card:hover .addto-button {
  background-color: #000;
  color: #fff;
}

.qc-look {
  display: none;
}

.pro-card:hover .qc-look {
  display: block;
}

.pro-card-label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.qcLook-slider .slick-list,
.qcLook-slider .slick-track,
.qcLook-slider .slick-slide,
.qcLook-slider .slick-slide > div {
  height: 100%;
}

.qcLook-slider .slick-prev {
  left: 5px;
  z-index: 99;
}

.qcLook-slider .slick-next {
  right: 5px;
}

.qcLook-slider .slick-dots li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  margin: 0px 2px;
}

.qcLook-slider .slick-dots li button {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qcLook-slider .slick-dots li button:before {
  width: 6px;
  height: 6px;
  content: '';
  background: #e0e0e0;
  border-radius: 50%;
  left: unset;
  top: unset;
  opacity: 1;
}

.qcLook-slider .slick-dots li.slick-active button:before {
  background: #000000;
}

.cart-slider {
  margin: 0px 25px;
}

.mainAuthWrap > div {
  width: 100%;
}

.isMore ul {
  margin: 12px 0px 12px 12px;
}

.isMore ul li {
  list-style: disc;
  list-style-position: inside;
}

.isMore ol li {
  list-style: decimal;
  list-style-position: inside;
}

.pro-dsecription ul li {
  list-style: disc;
  list-style-position: inside;
}

.pro-dsecription ol li {
  list-style: decimal;
  list-style-position: inside;
}

.pro-features ul li {
  list-style: disc;
  list-style-position: inside;
}

.pro-features ol li {
  list-style: decimal;
  list-style-position: inside;
}

.review-ratings span,
.review-ratings span::before {
  height: 100%;
  display: flex !important;
  align-items: center;
}

.home-cate-slider .slick-list {
  margin: 0px -8px;
}

.home-cate-slider .slick-slide {
  height: 100%;
}

.iconTooltip {
  font-size: 10px !important;
  padding: 4px 5px !important;
  text-transform: capitalize;
}

.mens-bg {
  background-image: url('/images/product-bg.png');
}

.isReadmore {
  max-height: 40px;
  overflow: hidden;
}

.men-coll-slider-d .slick-arrow {
  z-index: 999;
}

.men-coll-slider-d .slick-next {
  right: 0px;
}

.men-coll-slider-d .slick-prev {
  left: 0px;
}

.cart-item.no-stock p,
.cart-item.no-stock a,
.cart-item.no-stock img,
.cart-item.no-stock del,
.cart-item.no-stock .pointer-events-none {
  opacity: 0.5;
}

.cart-item p.no-opacity,
.cart-item a.no-opacity {
  opacity: 1;
}

input[name='order_search']::placeholder {
  font-size: 14px;
}

@media (min-width: 1025px) {
  .ec-images {
    height: 310px;
    max-height: unset;
  }
  .container {
    max-width: 1281px;
  }
  .lg\:container {
    max-width: 1281px;
  }
  .error-img {
    background-image: url('/images/error_vector.png');
    background-size: 40%;
    background-position-y: 100px;
    background-position-x: right;
  }
  input[type='search']::-webkit-search-cancel-button:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 1024px) {
  #delivery_date {
    background-image: none;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
  }
  #list-footer {
    box-shadow: 0px -4px 9px 0 rgba(0, 0, 0, 0.08);
  }
  .isReadmore {
    max-height: 60px;
  }
  #fc_frame,
  #fc_frame.fc-widget-small {
    bottom: 85px !important;
  }
  .iconTooltip {
    display: none !important;
  }
  input#search::placeholder {
    font-size: 14px;
  }
  .container {
    max-width: unset;
  }
  .sub.nav {
    display: none;
  }
  .sub.nav.active {
    display: block;
  }
  a.active svg {
    transform: rotate(90deg);
  }
  .submenus {
    display: none;
  }
  .submenus.active {
    display: block;
  }
  .pro-card {
    height: unset;
  }
  .brand-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .brand-info a {
    float: left;
  }
  .new-arrivals-d .slick-slide > div,
  .best-seller-d .slick-slide > div {
    margin: 0px 5px;
  }
  .new-arrivals-d .slick-list,
  .best-seller-d .slick-list {
    margin: 0px 5px;
  }
  .shades-details {
    height: calc(100% - (64px + 96px));
  }
  .shade-div {
    max-height: 28rem;
  }
  .pro-brand-slider .slick-list,
  .pro-similar-slider .slick-list {
    margin: 0px 5px;
  }
  .pro-brand-slider .slick-slide > div,
  .pro-similar-slider .slick-slide > div {
    margin: 0px 5px;
  }
  .pro-brand-slider .slick-list::after {
    display: none;
  }
  /* .sr-trending {
      height: calc(100vh - 180px);
    } */
  .pro-card:hover .qc-look {
    display: none;
  }
  .cart-slider {
    margin: 0px 8px;
  }
  .PhoneInputInput {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .address-box {
    width: 100%;
  }
  .address-labels .check-icon {
    background: none;
    color: transparent;
    border: 1px solid #9c9c9c;
  }
  .address-labels input[type='radio']:checked ~ div .check-icon {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
  .subMenus {
    transform: translateX(110%);
    transition: transform 0.5s ease;
  }
  .subMenus.isOpen {
    transform: translateX(0);
  }
  .subCate {
    position: fixed;
    transform: translateX(110%);
    transition: transform 0.5s ease;
  }
  .subCate.isOpen {
    transform: translateX(0);
  }
  .PhoneInput.PhoneInput--focus {
    border-color: #000;
  }
  .cate-slider-home > div {
    margin: 0px 8px;
  }
  .offer-banner-slider .slick-next {
    right: 5px;
  }
  .offer-banner-slider .slick-prev {
    left: 5px;
  }
  .header-nav.nav-fixed {
    height: auto;
    top: -1px;
    z-index: 999;
  }
  .header-nav.nav-fixed > div > div > a > img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }
  .header-nav.nav-fixed button,
  .header-nav.nav-fixed svg {
    color: #fff;
    background: transparent;
  }
  .header-nav.nav-fixed a span {
    background: #fff;
  }
  .header-nav.nav-fixed a p {
    color: #000;
    background: #fff;
  }
  input#search::-webkit-search-cancel-button {
    z-index: 9999;
  }
  .reward-offer-slider .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .reward-offer-slider .slick-dots li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .reward-offer-slider .slick-dots li button {
    padding: 0px;
    width: 10px;
    height: 10px;
  }
  .reward-offer-slider .slick-dots li button:before {
    font-size: 8px;
  }
}

/** Custom Colors */

.text-linkedin:hover {
  color: #0e76a8 !important;
}

.text-youtube:hover {
  color: #ff0000 !important;
}

.text-facebook:hover {
  color: #4267b2 !important;
}

.text-twitter:hover {
  color: #1da1f2 !important;
}

@media (max-width: 767px) {
  .shade-div {
    max-height: 25rem;
  }
  .shade-div-details {
    max-height: 60vh;
  }
  .cs-border {
    min-height: 240px;
  }
  .iframe-container {
    padding-top: 134.25%;
  }
  .custom_date_picker {
    padding: 0px;
    text-align: left;
  }
  .react-datepicker-wrapper {
    width: 100px;
  }
}
